/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    Basics
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
body {
    background: #ECF0F1;
}

h2 {
    text-align: center;
}

.container {
    width: 550px !important;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    Tasks
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#tasks,
ul, li, p {
    margin: 0;
}

#tasks {
    color: white;
    font-size: 16px;
}

#tasks li {
    list-style: none;
    background: #34495E;
    padding: 10px 20px;
    border-bottom: 2px solid #2C3E50;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
}

.task-title {
    text-overflow: ellipsis;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
}

.task-duration {
    font-size: 13px;
}

#bottom {
    padding: 5px 20px;
    font-size: 14px;
    background: #BDC3C7;
}
