/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    Basics
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

body {
    background: #ECF0F1;
}

h2 {
    text-align: center;
}

.container {
    width: 550px !important;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    Tasks
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#tasks {
    color: white;
}

#tasks,
ul, li, p {
    margin: 0;
}

#tasks li {
    list-style: none;
    cursor: pointer;
    height: 70px;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    border-bottom: 2px solid #2C3E50;
    padding: 0 20px;
}

#tasks li.task {
    background: #34495E;
}

#tasks li.task:hover {
    background: #2C3E50;
}

#tasks li.task-add {
    background: #1ABC9C;
}

#tasks li.task-add:hover {
    background: #16A085;
}

#tasks li.task.task-done {
    color: #7F8C8D;
    background: #2C3E50;
}

#tasks .task-done-column,
#tasks .task-info-column {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    height: 100%;
}

#tasks .task .task-done-btn {
    font-size: 20px;
    margin-right: 20px;
}

#tasks .task .task-done-column:hover .task-done-btn {
    color: #1ABC9C;
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
}

#tasks .task .task-info {
    width: 300px;
    margin-right: 20px;
}

#tasks .task .task-info span {
    display: block;
}

#tasks .task .task-title,
#tasks .task .task-description {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#tasks .task .task-title {
    font-size: 18px;
    line-height: 1.5;
}

#tasks .task .task-description {
    font-size: 12px;
}

#tasks .task .task-duration {
    font-size: 14px;
    width: 130px;
}

#tasks .task .task-remove-btn {
    display: none;
    font-size: 20px;
}

#tasks .task .task-remove-btn:hover {
    color: #1ABC9C;
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
}

#tasks .task:hover .task-remove-btn {
    display: block;
}

#bottom {
    padding: 5px 20px;
    font-size: 14px;
    background: #BDC3C7;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    Task forms
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#tasks form {
    margin: 0;
    padding: 0;
    width: 100%;
}

#tasks input {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    height: 25px;
}

#tasks #task-add-form input {
    text-indent: 3px;
}


::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(236, 240, 241, 0.6) !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba(236, 240, 241, 0.6) !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(236, 240, 241, 0.6) !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgba(236, 240, 241, 0.6) !important;
}
