<div class="clearfix">

    <div class="button-wrapper pull-left" data-ng-click="toggleTaskStatus(task)">
        <div class="border-right">
            <button class="task-done-btn">
                <i class="icon-circle"></i>
                <i class="icon-ok-sign"></i>
            </button>
        </div>
    </div>

    <div class="content-wrapper pull-left">
        <div class="vertical-align-wrapper">
            <div class="vertical-align-item">
                <form id="task-edit-form" data-ng-submit="editTask(task)">
                    <p class="margin-bottom-10">
                        <input id="task-title-input" type="text" data-ng-model="task.title">
                        <label for="task-title-input">Titel</label>
                    </p>

                    <p class="margin-bottom-10">
                        <input id="task-description-input" type="text" data-ng-model="task.description">
                        <label for="task-description-input">Beschreibung</label>
                    </p>

                    <p class="margin-bottom-10">
                        <input id="task-duration-input" type="text" data-ng-model="task.duration">
                        <label for="task-duration-input">Dauer (in Minuten)</label>
                    </p>

                    <p>
                        <button type="submit"><i class="icon-ok"></i></button>
                    </p>
                </form>
            </div>
        </div>
    </div>

    <div class="button-wrapper pull-left" data-ng-click="showTaskDeleteDialog($index)">
        <div class="border-left">
            <button class="task-delete-btn">
                <i class="icon-trash"></i>
            </button>
        </div>
    </div>

</div>