<div class="row" data-ng-controller="TaskListController">
    <div class="span6 offset3">
        <h2>Tagesplan</h2>

        <div>
            <ul id="tasks">
                <li id="add-task-container">
                    <form id="add-task-form" data-ng-submit="addTask(newTask)">
                        <input type="text" placeholder="Aufgabe hinzuf&uuml;gen" data-ng-model="newTask">
                    </form>
                </li>

                <li class="task" data-ng-class="class" data-ng-repeat="task in tasks">
                    <form class="edit-task-form">
                        <input class="task-title" type="text" data-ng-model="task.title">
                    </form>

                    <p class="spacer">&nbsp;</p>
                                        
                    <p class="task-duration">
                        <span class="fui-time-24">&nbsp;</span>
                        <span data-ng-bind-template="{{ task.duration }}m" data-ng-show="task.duration"></span>
                    </p>

                    <p class="task-done-container clearfix">
                        <span data-ng-class="class" class="pull-right" data-ng-click="toggleTaskStatus(task)"></span>
                    </p>

                    <p class="remove-task-container">
                        <span class="fui-cross-24" data-ng-click="removeTask(task)"></span>
                    </p>
                </li>
            </ul>
        </div>

        <div id="bottom" class="clearfix">
            <div class="pull-left">
                <span class="fui-calendar-24"></span> <span data-ng-bind="tasks.length"></span>
            </div>
        <div>
    </div>
</div>
