<div data-ng-controller="TaskListController">

    <h2>Tagesplan</h2>

    <div>
        <ul id="tasks">
            <li data-ng-repeat="task in tasks">
                <p class="task-title" data-ng-bind="task.title"></p>

                <p class="task-duration">
                    <span class="fui-time-24">&nbsp;</span>
                    <span data-ng-bind-template="{{ task.duration }}" data-ng-show="task.duration"></span>
                </p>
            </li>
        </ul>
    </div>

    <div id="bottom" class="clearfix">
        <div class="pull-left">
            <span class="fui-calendar-24"></span> <span data-ng-bind="tasks.length"></span>
        </div>
    <div>

</div>
