<div class="task-wrapper"
     data-ng-class="{
         'task-view-mode': $index != taskInEditMode,
         'task-edit-mode': $index == taskInEditMode,
         'task-done': task.done
     }">

    <!-- task view / edit mode -->
    <div data-ng-switch="$index == taskInEditMode">
        <!-- task view mode -->
        <div data-ng-switch-default>
            <div data-task-view></div>
        </div>

        <!-- task edit mode -->
        <div data-ng-switch-when="true">
            <div data-task-edit-dialog></div>
        </div>
    </div>

    <!-- task delete dialog -->
    <div data-ng-switch="$index == taskInDeleteMode">
        <div data-ng-switch-when="true">
            <div data-task-delete-dialog data-delete-task="deleteTask($index)"></div>
        </div>
    </div>

</div>