<div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
        <a class="brand" href="/">Tagesplaner</a>
    </div>
</div>

<div data-ng-controller="taskListController">
    <div id="top">
        <form id="task-add-form" class="clearfix" data-ng-submit="addNewTask(newTaskTitle)">
            <p class="input-wrapper pull-left">
                <input type="text" placeholder="Aufgabe hinzuf&uuml;gen" data-ng-model="newTaskTitle">
            </p>

            <p class="button-wrapper pull-left">
                <button type="submit"><i class="icon-plus"></i></span></button>
            </p>
        </form>
    </div>

    <div id="content">
        <ul id="task-list">
            <li data-ng-repeat="task in tasks.data">
                <div data-task></div>
            </li>
        </ul>
    </div>
</div>