<!--suppress HtmlFormInputWithoutLabel -->
<div data-ng-controller="TaskListController">
    <h1>Tagesplaner</h1>

    <div id="top">
        <form id="task-add-form" class="clearfix" data-ng-submit="addTask(newTask)">
            <p class="input-wrapper pull-left">
                <input type="text" placeholder="Aufgabe hinzuf&uuml;gen" data-ng-model="newTask">
            </p>

            <p class="button-wrapper pull-left">
                <button type="submit"><i class="icon-plus"></i></button>
            </p>
        </form>
    </div>

    <div id="content">
        <ul id="task-list">
            <li data-ng-repeat="task in tasks">
                <div data-task></div>
            </li>
        </ul>
    </div>

    <div id="bottom">
        <i class="icon-circle"></i> <span>{{ modelState.remainingTasks }}</span>
        <i class="icon-ok-sign"></i> <span>{{ modelState.completedTasks }}</span>
    </div>
</div>