<div id="task-delete-dialog">
    <div class="vertical-align-wrapper">
        <div class="vertical-align-item task-delete-dialog-left">
            <p>
                Aufgabe l&ouml;schen?
            </p>
        </div>

        <div class="vertical-align-item task-delete-dialog-right">
            <p>
                <button data-ng-click="cancel()"><i class="icon-remove"></i></button>
                <button data-ng-click="submit(task)"><i class="icon-ok"></i></button>
            </p>
        </div>
    </div>
</div>