<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <span class="brand">Tagesplaner</span>
    </div>
</div>

<div ng-controller="taskListController">
    <ul id="task-list">
        <li ng-repeat="task in tasks">
            <div class="task-wrapper clearfix">
                <div class="button-wrapper">
                    <button class="task-done-btn border-right">
                        <i class="icon-circle"></i>
                        <i class="icon-ok-sign"></i>
                    </button>
                </div>

                <div class="content-wrapper">
                    <p class="content-left">
                        <span class="task-title" ng-show="task.title">{{ task.title }}</span>
                        <span class="task-description" ng-show="task.description">{{ task.description }}</span>
                    </p>
                    <p class="content-right">
                        <span class="task-duration">
                            <i class='icon-time'></i>
                            <span ng-show="task.duration">{{ task.duration }}</span>
                        </span>
                    </p>
                </div>

                <div class="button-wrapper">
                    <button class="task-delete-btn border-left">
                        <i class="icon-trash"></i>
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>