<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <span class="brand">Tagesplaner</span>
    </div>
</div>

<div ng-controller="taskListController">
    <form id="add-task-form" class="clearfix" ng-submit="addNewTask(newTaskTitle)">
        <p class="input-wrapper pull-left">
            <input type="text" placeholder="Aufgabe hinzuf&uuml;gen" ng-model="newTaskTitle">
        </p>

        <p class="button-wrapper pull-left">
            <button type="submit"><i class="icon-plus"></i></span></button>
        </p>
    </form>

    <ul id="task-list">
        <li ng-repeat="task in tasks.data">
            <task-wrapper/>
        </li>
    </ul>
</div>