<div class="button-wrapper">
    <button class="task-done-btn border-right" ng-click="toggleTaskStatus(task)">
        <i class="icon-circle"></i>
        <i class="icon-ok-sign"></i>
    </button>
</div>

<div class="content-wrapper" ng-click="showTaskEditView($index)">
    <p class="content-left">
        <span class="task-title" ng-show="task.title">{{ task.title }}</span>
        <span class="task-description" ng-show="task.description">{{ task.description }}</span>
    </p>
    <p class="content-right">
    <span class="task-duration">
        <i class='icon-time'></i>
        <span ng-show="task.duration">{{ task.duration }}</span>
    </span>
    </p>
</div>

<div class="button-wrapper">
    <button class="task-delete-btn border-left" ng-click="showTaskDeleteView($index)">
        <i class="icon-trash"></i>
    </button>
</div>