<div class="task-wrapper clearfix"
     ng-class="{
         'task-is-done': task.done,
         'task-in-view-mode': $index != viewState.taskInEditMode,
         'task-in-edit-mode': $index == viewState.taskInEditMode
     }">

    <!-- task-view/edit-view -->
    <div ng-switch="$index == viewState.taskInEditMode">
        <!-- task-view -->
        <div ng-switch-default>
            <task-view class="task-view"></task-view>
        </div>

        <!-- task-edit-view -->
        <div ng-switch-when="true">
            <task-edit-view class="task-edit-view"></task-edit-view>
        </div>
    </div>

    <!-- task-delete-view -->
    <div ng-switch="$index == viewState.taskInDeleteMode">
        <div ng-switch-when="true">
            <task-delete-view class="task-delete-view"></task-delete-view>
        </div>
    </div>
</div>